.About {
  display: flex;
  flex-direction: column;
}

.About a {
  text-decoration: none;
  color: chartreuse;
}

.About .GalleryLink {
  font-weight: 700;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 14pt;
  background-color: black;
  align-self: center;
}

.About .Splash {
  display: none;
}