/*---------Burger component styling -------- */

#burgerbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.BurgerNav .Menu a {
  color: chartreuse;
  font-weight: 400;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 5px;
}

.BurgerNav .Menu li {
  margin-bottom: 20px;
}

.burgerDiv button {
  background: none;
  border: none;
  background-color: black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.burgerDiv {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
}

#burger img {
  width: 40px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #burgerbar {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #burgerbar {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  #burgerbar {
    display: none;
  }
}
