/* -----Add a black background color to the top navigation----- */
/*-----------------Burger Nav Bar container ------------------- */


/*-------------- Style the links inside the navigation bar------- */


/* ------------Change the color of links on hover------------ */
.burgerNavBar a:hover {
  background-color: #ddd;
  color: black;
}
/* -----------Add an active class to highlight the current page------ */
.burgerNavBar a.active {
  background-color: #4caf50;
  color: white;
}

.burergNavBar li {
  list-style: none;
}

