@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

* {
  font-family: "Rubik";
}

.Gallery header {
  margin: 20px 0px 0px 0px;
}

.Gallery .ButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Gallery button {
  font-family: "Rubik";
  font-weight: 200;
  background-color: black;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 50px;
}

.Gallery a {
  text-decoration: none;
  color: chartreuse;
}

.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Gallery .homeHeader {
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-weight: 700;
  width: 80%;
  align-self: center;
  margin:10px;
}

.homeHeader a {
  color: black;
  font-size: 22px;
}

.Text {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  text-align: justify;
  align-items: center;
}

img {
  width: 90%;
}

.Gallery .Splash {
  display: none;
}

.Gallery h3 {
  margin-bottom: 0;
  color: white;
  padding: 0 25px;
  background-color: black;
}

.Gallery h4 {
  margin-top:25px;
  margin-bottom: 5px;
}

/* ``````````````````````````````````*/
.galleries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.largeGallery {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.diceLarge {
  display: flex;
  justify-content: center;
}

.smallGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.diceSmall {
  display: flex;
  justify-content: center;
}
