

.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Gallery img {
  width: 90%;
}

.Gallery .Splash {
  display: none;
}

.Gallery h4 {
  margin-top:20px;
  margin-bottom: 5px;
}

.Gallery a {
  text-decoration: none;
  color: chartreuse;
}


/* ``````````````````````````````````*/
.galleries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.largeGallery {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin-bottom: 10px;
}

.diceLarge {
  display: flex;
  justify-content: center;
}

.smallGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.diceSmall {
  display: flex;
  justify-content: center;
}


@media screen and (min-width:320px) and (max-width:480px) {

}

@media screen and (min-width: 481px) and (max-width:768px) {
  
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
  
}

@media screen and (min-width: 1201px) {
  
}