.Process {
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

.Process .Text a {
  text-decoration: none;
  color: chartreuse;
  background-color:black;
  border-radius: 2px;
  padding: 0 5px;
}

.Process .Splash {
  display: none;
}

.Process .imageContainer {
  display: flex;
  width: 45%;
  align-self: center;
  justify-content: center;
}

.Process .imageContainer img {
  width: 100%;
  margin: 15px;
}

@media screen and (min-width:320px) and (max-width:480px) {
.Process .imageContainer {
  flex-direction: column;
  align-items: center;
  width: auto;
}
}

@media screen and (min-width: 481px) and (max-width:768px) {
  .Process .imageContainer {
    flex-direction: column;
    width: 60%;
  }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  .Process .imageContainer {
    width: 55%;
  }
}