.Process {
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

.Process .Text a {
  text-decoration: none;
  color: chartreuse;
  background-color:black;
  border-radius: 2px;
  padding: 0 5px;
}

.Process .Splash {
  display: none;
}

.Process .imageContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Process .imageContainer img {
  width: 35%;
  margin: 15px;
}

@media screen and (min-width:320px) and (max-width:480px) {

}

@media screen and (min-width: 481px) and (max-width:768px) {
  
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
  
}

@media screen and (min-width: 1201px) {
  
}