.Site {
  display: flex;
  flex-direction: column;
}

.Site a {
  text-decoration: none;
  color: chartreuse;
}

.MainImg {
  display: flex;
  align-self: center;
  width:30%
}

.MainImg img {
  margin-bottom: 15px;
  width: 100%;
}

.Site .Splash {
  display: none;
}

@media screen and (min-width:320px) and (max-width:480px) {

}

@media screen and (min-width: 481px) and (max-width:768px) {
  
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  #burger {
    display: none;
  }

  #burgerbar {
    display:none !important;
  }

  .burgerNavBar li {
    display:none;
  }

  .burgerLogo {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
  #burger {
    display: none;
  }

  #burgerbar {
    display:none !important;
  }

  .burgerNavBar li {
    display:none;
  }

  .burgerLogo {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  #burger {
    display: none;
  }

  #burgerbar {
    display:none !important;
  }

  .burgerNavBar li {
    display:none;
  }

  .burgerLogo {
    display: none;
  }
}