@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
/* font-family */
* {
  font-family: "Rubik";
}

.Site header {
  margin: 20px 0px 0px 0px;
}

.Site .buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Site button {
  font-family: "Rubik";
  font-weight: 200;
  background-color: black;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding: 10px 50px;
}

.Site a {
  text-decoration: none;
  color: chartreuse;
}

.Site {
  display: flex;
  flex-direction: column;
}

.Site .homeHeader {
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-weight: 700;
  width: 80%;
  align-self: center;
  margin: 10px;
}

.homeHeader a {
  color: black;
  font-size: 22px;
  padding:10px;
}

.homeHeader a:hover {
  background-color: black;
  color:chartreuse;
}

.homeHeader a:active {
  background-color:black;
  color:white;
}

.MainImg {
  display: flex;
  justify-content: center;
}

.MainImg img {
  margin-top: 10px;
  width: 30%;
  align-self: center;
}

.Text {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  text-align: justify;
  align-self: center;
  width: 60%;
}

.Site h3 {
  margin-bottom: 0;
  color: white;
  padding: 0 25px;
  background-color: black;
}

.Site .Splash {
  display: none;
}

@media screen and (min-width:320px) and (max-width:480px) {

}

@media screen and (min-width: 481px) and (max-width:768px) {
  
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
  
}

@media screen and (min-width: 1201px) {
  
}