@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
/* text styling */
* {
  font-family: "Rubik";
}

h3 {
  margin-bottom: 0;
  color: white;
  padding: 5px 25px;
  background-color: black;
  align-self: center;
}

.Text {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  text-align: justify;
  align-self: center;
  width: 60%;
}

/* set-up for the site, in which all components are organized */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 20px 0px 0px 0px;
}

header img {
  width: 100%;
}

/* landing page styling */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Splash img {
  width: 40%;
}

.Splash {
  display: flex;
  position: absolute;
  z-index: 0;
  justify-content: center;
}

/* button styling */
button {
  font-family: "Rubik";
  font-weight: 700;
  background-color: black;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding: 20px 50px;
  margin: 15px 0px;
}

.ButtonBox a {
  text-decoration: none;
  color: chartreuse;
  padding: 20px 50px;
}

.ButtonBox {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 50px;
}

/* link styling */
a {
  color: black;
  text-decoration: none;
}

/* navigation menu styling */
.SiteNav,
.footerBox {
  display: flex;
  justify-content: center;
}

.homeHeader {
  display: flex;
  justify-content: space-around;
  background-color: black;
  font-weight: 700;
  width: 80%;
  align-self: center;
  margin: 10px;
}

.homeHeader a {
  color: chartreuse;
  font-size: 22px;
  padding: 10px;
  justify-content: center;
  background-color: black;
  padding: 15px;
}

.homeHeader a:hover {
  background-color: chartreuse;
  color: black;
}
.homeHeader a:active {
  background-color: chartreuse;
  color: white;
}

/* contact component styling */
.contact {
  display: flex;
  justify-content: center;
  margin: 50px 0px 15px 0px;
}

/* footer styling */
.footerBox p,
.footerBox h4 {
  color: white;
  margin: 10px 0px;
}
.footerBox p {
  font-size: 11pt;
}

.footerBox a {
  margin-left: 5px;
  color: chartreuse;
}

.footerBox a:hover {
  background-color: chartreuse;
  color: black;
}

.footerBox a:active {
  background-color: chartreuse;
  color: white;
}

.footerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 80%;
  align-self: center;
  bottom: 0;
}

.footerBox .ContactLink {
  margin-top: 20px;
}
/* Site.js CSS */
.Site {
  display: flex;
  flex-direction: column;
}

.Site a {
  text-decoration: none;
  color: chartreuse;
}

.MainImg {
  display: flex;
  align-self: center;
  width:30%
}

.MainImg img {
  margin-bottom: 15px;
  width: 100%;
}

.Site .Splash {
  display: none;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .Splash img {
    width: 100%;
  }
  .homeHeader {
    display: none;
  }

  .Text {
    width:85%;
  }

  .MainImg {
    width: 60%;
  }

  .footerBox {
    width:100%;
  }

  h3{
    text-align: center;
  }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .Splash img {
    width: 80%;
  }

  .homeHeader {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Splash img {
    width: 60%;
  }
  .ButtonBox {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .ButtonBox {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1201px) {
  .ButtonBox {
    margin-top: 100px;
  }
}
